image: imaxt/owl-pipeline:latest

before_script:
  - python --version
  - pip install -r requirements_dev.txt
  - python setup.py develop

stages:
  - Static Analysis
  - Documentation
  - Tests
  - Deploy

flake8:
  stage: Static Analysis
  tags:
    - python
  except:
    - tags
  script:
    - python setup.py flake8

mypy:
  stage: Static Analysis
  tags:
    - python
  except:
    - tags
  script:
    - mypy owl_client --ignore-missing-imports

docs:
  stage: Documentation
  tags:
    - python
  except:
    - tags
  script:
    - python setup.py build_sphinx -W

tests:
  stage: Tests
  tags:
    - python
  except:
    - tags
  script:
    - python setup.py test

deploy:
  stage: Deploy
  tags:
    - python
  only:
    - tags
  script:
    - python setup.py sdist
    - curl -X MKCOL $REPO/owl-pipeline-client
    - curl -XPUT $REPO/owl-pipeline-client/owl-pipeline-client-0.2.2.tar.gz --data-binary @dist/owl-pipeline-client/owl-pipeline-client-0.2.2.tar.gz
  environment:
    name: Repository
    url: http://imaxt.ast.cam.ac.uk/pip/owl-pipeline-client
